## Vim
/.vim/bundle/
/.vim/tmp/

## fish shell
/.config/fish/fishd.*
/.config/fish/fish_history
/.config/fish/local-config
/.config/fish/fish_read_history
/.config/fish/functions/*
/.config/fish/completions/*
/.config/fish/conf.d/*
!/.config/fish/conf.d/000-env.fish
!/.config/fish/functions/pook.fish


## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.ffs_db
.vim/.netrwhist
