## Vim
/.vim/bundle/
/.vim/tmp/

## fish shell
/fish/fishd.*
/fish/fish_history
/fish/local-config
/fish/fish_read_history
/fish/functions/*
/fish/completions/*
/fish/conf.d/*
!/fish/conf.d/000-env.fish


## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.ffs_db
.vim/.netrwhist
