## Vim
/.vim/bundle/
/.vim/tmp/

## fish shell
/.config/fish/fishd.*
/.config/fish/fish_history
/.config/fish/fish_variables
/.config/fish/local-config
/.config/fish/fish_read_history
/.config/fish/functions/*
/.config/fish/completions/*
/.config/fish/conf.d/*
/.config/fish/*.backup
!/.config/fish/conf.d/000-env.fish
!/.config/fish/functions/brew.fish
!/.config/fish/functions/pook.fish

## karabiner
/.config/karabiner/karabiner.json
/.config/karabiner/automatic_backups
/.config/karabiner/assets/complex_modifications


## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.ffs_db
.vim/.netrwhist
